 .manrope {
     font-family: "Manrope", sans-serif;
     font-optical-sizing: auto;
 }


 @media screen and (max-width:576px) {
    .commercial,
    .residential{
        padding: 1rem;
        gap: .3rem;
        width: fit-content;
    }
 }

  @media screen and (min-width:1024px) and (max-width:1050px) {
      .card-body {
          padding: .5rem;
      }

      
  }

